body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
    margin: 0;
    grid-template-rows: 1fr 5fr;
}
ul{
    list-style: none;
}
.sidebar{
    background-color: blue;
    padding: 20px 50px 10px 20px;
    font-size: 1.2rem;
    height: 100%;
    grid-row: 1/3;
    color: white;
    display: grid;
    grid-template-rows: 80px 220px 1fr ;
}
.sidebar h1{
    margin: 0;
}
.nav{
    padding: 0;
    margin: 0;
}
.nav li{
    margin:10px 0;
    display: flex;
    align-items: center;
}

.icon{
    width: 25px;
}
.nav-icon{
    margin-right: 10px;
}

.header{
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr minmax(250px, 1fr);
    align-items: center;
    padding: 10px 3%;
}
#search{
    width: clamp(150px, 100%, 800px);
    border-radius: 20px;
    height: 25px;
    background-color: gray;
    border-style: none;
    margin-left: 10px;
}
.profile-content{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}
.profile-content .profile-img{
    width: 40px;
    height: 40px;
}
.profile-img img{
    width: 100%;
    height: 100%;

}
.search-container{
    display: flex;
}

.profile-status{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-status img{
    width: 70px;
    height: 100%;
}
.profile-status h1{
    margin: 0;
    font-size: 1.5rem;
}
.profile-status p{
    margin: 0;
    margin-bottom: 5px;
}
.header-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.header-btn{
    padding: 10px 0;
    width: 100%;
    min-width: 80px;
    max-width: 120px;
    border-radius: 30px;
    background-color: blue;
    color: white;
    border-style: none;
}
.profile-status .profile-img{
    height: 70px;
}